@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-glass {
  @apply backdrop-blur-lg backdrop-brightness-150 bg-neutral-50/40 dark:bg-neutral-50/40;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
